@model Usuario
<h1>Realize a Edição do Usuário</h1>

<form action="editarUsuario" method="post">
    <input type="hidden" asp-for="ID"/>
    <input type="text" name="Nome" id="userNome" value="@Model.Nome">
    <input type="text" name="login" id="userLogin" value="@Model.Login">
    <input type="text" name="senha" id="userSenha" value="@Model.Senha">
    
    <select name="tipo" id="userTipo">
        <option value="@AUTH_TYPE.ADMIN">Administrador</option>
        <option value="@AUTH_TYPE.DEFAULT">Usuário</option>
    </select>

    <input type="submit" value="CONCLUIR EDICÃO">
</form>

